$borderColor: red;
$popupBg: #30363D;

// 隐藏原生的 toolbar

.block-editor-format-toolbar {
  display: none;
}

.editor-format-toolbar__selection-position.block-editor-format-toolbar__selection-position {
  z-index: 100;
}

.Tss-font-style {
  transition: all .4s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 100;
  padding: 0 15px;
  background: $popupBg;
  border-radius: 10px;
  .tss-popup-btn {
    width: 24px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    .text{
      line-height: 1;
      font-size: 13px;
      color:#fff;
    }
    .mask-img{
      position: absolute;
      left:0;top:0;
      z-index: 100;
      width:100%;
      height:100%;
      opacity: 0;
    }
  }

  * {
    flex-shrink: 0;
  }

  .hover-spread {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: .4;
    transition: opacity .4s;
    margin-right: 5px;
    position: relative;
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      opacity: 1;
    }
    &.active {
      opacity: 1;
    }
  }
  .color-palette {
    position: absolute;
    left: 0;
    top: 100%;
    padding: 14px 10px 10px;
    background: #fff;
    width: 260px;
    background: #fff;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    .color-block {
      float:left;
      width: 40px;
      height: 40px;
      cursor: pointer;
      border: 1px solid #fff;
      cursor: pointer;
      &[data-color="#FFFFFF"] {
        outline:1px solid #D8D8D8;
        outline-offset:-2px;
      }
      &.active {
        border-color: #6C80FF;
        &[data-color="#FFFFFF"] {
          outline:none;
        }
      }
    }
    .color-blocks-container{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
    }
    .expand-more{
      padding:7px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom:-7px;
      cursor: pointer;
      img{
        height:6px;
        &.rotate{
          transform: rotate(180deg);
        }
      }
    }
    .many-color-container{
      margin-bottom:14px;
      &::after{
        content:'';
        display: block;
        clear: both;
      }
    }
  }
  .font-size-menu{
    padding:12px 10px;
    background: #fff;
    position: absolute;
    top:-20px;
    left:-28px;
    text-align: right;
    z-index: 101;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    border-radius: 4px;

    .font-size-menu-item{
      line-height: 1.5;
      cursor: pointer;

    }
  }
}

// ------------ poptip --------------------
$poptipBg: #30363D;
.poptip {
  position: relative;
  z-index: 101;
  &::before,
  &::after {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    transition: all .3s ease .2s;
  }
  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: $poptipBg transparent transparent transparent;
    left: calc(50% - 8px);
    top: 0px;
    transform: translateX(0%) translateY(-10px);
  }

  &::after {
    font-size: 14px;
    color: #fff;
    content: attr(aria-controls);
    position: absolute;
    padding: 4px 12px;
    white-space: nowrap;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    margin-bottom: -1px;
    transform: translateX(-50%) translateY(-10px);
    background: $poptipBg;
  }
  &:hover::before,
  &:hover::after {
    visibility: visible;
    opacity: 1;
  }
}
