<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Gutenberg</title>
    <script src="../asset/react.production.min.js"></script>
    <script src="../asset/react-dom.production.min.js"></script>
    <script src="../asset/moment.min.js"></script>
    <script src="../asset/jquery.min.js"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
